# Compiled Binaries
map_perf
bin/
build/
*.exe
*.out
*.app

# Object Files and Libraries
*.o
*.obj
*.a
*.lib
*.so
*.dll

# Debugging
*.dSYM/
*.pdb
*.idb

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Temporary files
*.tmp
*.log
